package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import ${mainPath}.common.entity.BaseEntity;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;
import lombok.Data;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}Entity extends BaseEntity {


#foreach ($column in $columns)
	#if($column.columnName != "id"&&$column.columnName != "remarks"&&$column.columnName != "create_user"&&$column.columnName != "create_time"
	&&$column.columnName != "update_user"&&$column.columnName != "update_time"&&$column.columnName != "del_flag")
	/**
		* $column.comments
		*/
	private $column.attrType $column.attrName0;
	#end
#end

}
