package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import ${mainPath}.db.util.PageUtils;
import ${mainPath}.common.vo.BaseResp;
import ${mainPath}.i18n.controller.BaseI18nController;



/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("${pathName}")
public class ${className}I18nController extends BaseI18nController {
    @Autowired
    private ${className}Service ${className0}Service;

    /**
     * 列表
     */
    @RequestMapping("/list")
    @RequiresPermissions("${moduleName}:${pathName}:list")
    public BaseResp<PageUtils> list(@RequestParam Map<String, Object> params){
        PageUtils page = ${className0}Service.queryPage(params);
        return BaseResp.getBaseResp(BaseResp.SUCCESS_CODE, getLocalMessage("common.query.success"), page);
    }


    /**
     * 信息
     */
    @RequestMapping("/info/{${pk.attrName0}}")
    @RequiresPermissions("${moduleName}:${pathName}:info")
    public BaseResp<${className}Entity> info(@PathVariable("${pk.attrName0}") ${pk.attrType} ${pk.attrName0}){
		${className}Entity ${className0} = ${className0}Service.getById(${pk.attrName0});
        return BaseResp.getBaseResp(BaseResp.SUCCESS_CODE, getLocalMessage("common.query.success"), ${className0});
    }

    /**
     * 保存
     */
    @RequestMapping("/save")
    @RequiresPermissions("${moduleName}:${pathName}:save")
    public BaseResp save(@RequestBody ${className}Entity ${className0}){
		${className0}Service.save(${className0});
        return BaseResp.getBaseResp(BaseResp.SUCCESS_CODE, getLocalMessage("common.insert.success"), null);
    }

    /**
     * 修改
     */
    @RequestMapping("/update")
    @RequiresPermissions("${moduleName}:${pathName}:update")
    public BaseResp update(@RequestBody ${className}Entity ${className0}){
		${className0}Service.updateById(${className0});
        return BaseResp.getBaseResp(BaseResp.SUCCESS_CODE, getLocalMessage("common.update.success"), null);
    }

    /**
     * 删除
     */
    @RequestMapping("/delete")
    @RequiresPermissions("${moduleName}:${pathName}:delete")
    public BaseResp delete(@RequestBody ${pk.attrType}[] ${pk.attrName0}s){
		${className0}Service.removeByIds(Arrays.asList(${pk.attrName0}s));
        return BaseResp.getBaseResp(BaseResp.SUCCESS_CODE, getLocalMessage("common.delete.success"), null);
    }

}
