package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${mainPath}.common.service.impl.BaseServiceImpl;
import ${package}.${moduleName}.service.${className}Service;


@Service("${className0}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {

}