package ${package}.${moduleName}.service;

import ${mainPath}.common.service.BaseService;
import ${package}.${moduleName}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}Entity> {

}

